<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
<div class="field_container">
  <label for="{{ obj.name }}">{{ obj.title }}</label>
  <div class="field_container">
    <input
    type="{{ obj.type }}"
    name="{{ obj.name }}"
    id="{{ obj.name }}"
    #input
    placeholder="{{ obj.placeholder }}"
    (input)="check($event, ico)">
    <div class="ico">
      <span
        #ico
        id="passIco"
        class="material-symbols-outlined noselect"
        (click)="changeVisible(input, ico)">{{ obj.icon }}</span>
    </div>
  </div>
</div>
