<div class="container">
  <img src="\assets\logo.png" alt="">
  <div class="login">
    <h1>Добро пожаловать</h1>
    <h5>Авторизуйтесь чтобы продолжить</h5>
    <app-field [obj]='email' #idEmail></app-field>
    <app-field [obj]='password' #idPassword></app-field>
    <div class="bottom_line">
      <div class="checkbox">
        <input class="custom-checkbox" type="checkbox" id="mind" #mind>
        <label for="mind">Запомнить</label>
      </div>
      <a href="#">Забыли пароль?</a>
    </div>
  </div>
  <button
    type="button"
    (click)="mylogin(idEmail, idPassword, mind.checked)"
    >Войти</button>
  <app-alerts #aletssss [obj]="fail" [switch]="visible"></app-alerts>
</div>
